@font-face { 
  font-family: "Space_Grotesk";
  src: url("./Space_Grotesk/SpaceGrotesk-Regular.ttf") format("truetype");
}

@font-face { 
  font-family: "Blanka";
  src: url("./blanka/Blanka-Regular.ttf") format("truetype");
}

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  font-family: "Space Grotesk";
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.ck {
  background: #323232;
  color: black;
}
.ck-content {
  min-height: 400px;
  background: #323232;
}

.ck.ck-editor__main>.ck-editor__editable:not(.ck-focused) {
  background-color: #000000;
  color:#FFFFFF;
}

.ck.ck-editor__main>.ck-editor__editable{
  background-color: #000000;
  color:#FFFFFF;
}

.ck.ck-reset_all, .ck.ck-reset_all * {
  color: #ffffff;
}

.ck.ck-toolbar.ck-toolbar_grouping>.ck-toolbar__items {

  background-color: black;
 
 }

.wallet-adapter-button-trigger {
  background-color: #000000 !important;
  border-color: E6E8E6;
}

